[submodule "lib/aave-v3-core"]
	path = lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
	branch = v1.16.2
[submodule "lib/aave-v3-periphery"]
	path = lib/aave-v3-periphery
	url = https://github.com/aave/aave-v3-periphery
	branch = v3.0.1
[submodule "dependencies/dss-direct-deposit"]
	path = dependencies/dss-direct-deposit
	url = https://github.com/makerdao/dss-direct-deposit
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
