# Compiler files
cache/
out/

# Ignores broadcast logs and output scripts
/broadcast
/script/output/*/*.json
!/script/output/*/*-latest.json

# Dotenv file
.env
.env-deploy

# repo specific artifacts
reports/*
!reports/.empty

node_modules/
