name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes --optimizer-runs 200
        id: build

      - name: Run Forge tests
        env:
          MAINNET_RPC_URL: ${{secrets.MAINNET_RPC_URL}}
          OPTIMISM_RPC_URL: ${{secrets.OPTIMISM_RPC_URL}}
          ARBITRUM_ONE_RPC_URL: ${{secrets.ARBITRUM_ONE_RPC_URL}}
          ARBITRUM_NOVA_RPC_URL: ${{secrets.ARBITRUM_NOVA_RPC_URL}}
          GNOSIS_CHAIN_RPC_URL: ${{secrets.GNOSIS_CHAIN_RPC_URL}}
          BASE_RPC_URL: ${{secrets.BASE_RPC_URL}}
          GOERLI_RPC_URL: ${{secrets.GOERLI_RPC_URL}}
        run: |
          forge test -vvvv
        id: test
